<body>
    <div class="column">
    <h1 class="h1-customized text-center inset">Antipasti</h1>
    <div class = "antipasti">
        <p align='center'>  
            Antipasto Misto Freddo &nbsp;&nbsp;&nbsp;€ 14,00<br> Tonno Scottato in Crosta di Semi di Papavero &nbsp;&nbsp;&nbsp;€ 14,00 <br>
            Carpaccio di Salmone Marinato agli Agrumi e Finocchietto € 13,50 <br>Insalata di Mare&nbsp;&nbsp;&nbsp; € 12,00<br>
            Carpaccio di Fiorentina su Letto di Valeriana,<br> spolverata di Mandorle e Citronette&nbsp;&nbsp;&nbsp;€ 11,00 <br>
            Fantasia di Salumi &nbsp;&nbsp;&nbsp;€ 11,00
        </p> 
        <img src="assets/Antipasto.jpg"  width="auto" >
    </div>
    </div>

    <div class="column">
    <h1 class="h1-customized text-center inset">Primi</h1>
    <div class = "primi">
        <p align='center'>
            Paccheri all’Astice&nbsp;&nbsp;&nbsp;€ 17,00<br>
            Spaghetti allo Scoglio&nbsp;&nbsp;&nbsp;€ 14,50<br>
            Tortellacci al Branzino&nbsp;&nbsp;&nbsp;€ 14,00<br>
            Pappardelle 'Lo Varchetto'  <br>
            Salmone Affumicato, Gamberi e Verdurine&nbsp;&nbsp;&nbsp;€ 14,00<br>
            Strozzapreti alle Canocchie &nbsp;&nbsp;&nbsp;€ 11,50<br>
            Risotto alla Marinara&nbsp;&nbsp;&nbsp;€ 12,00<br>
            Tagliatelle al Ragù&nbsp;(per bambini)&nbsp;&nbsp;&nbsp;&nbsp;€ 8,50<br>
        </p>
        <img src="assets/Primo.jpg"  width="auto" >
    </div>
    </div>

    <div class="column">
    <h1 class="h1-customized text-center inset">Secondi</h1>
    <div class = "secondi">
        <p align='center'>
            Fritto Misto&nbsp;&nbsp;&nbsp;€ 15,50<br>
            Spiedini Misti n.6&nbsp;&nbsp;&nbsp;€ 16,00<br>
            Branzino al Cartoccio Carciofini, Olive e Patate &nbsp;&nbsp;&nbsp;€ 15,00<br>
            Filetto di Tonno / Spada&nbsp;&nbsp;&nbsp;€ 14,50<br>
            <br><br><br><br>
        </p>
        <img src="assets/Secondo.jpg"  width="auto" >
    </div>
    </div>
</body> 