body {
    width: 97%;
    font-family: Arial, Verdana, sans-serif;
    color: #000000;
    margin: auto;
}
   
   
   h1{
    text-align: center
}
   
   
   .row:after {
    content: "";
    display: table;
    clear: both;
   }
   

   @media screen and (max-width: 600px) {
    .forgot-password {
    width: 50%;
    }
   }
   
   
   @media screen and (max-width: 600px) {
    .forgot-password {
    width: 100%;
    }
   }


   h1.h1-customized {
    margin-top: 20px;
    color:#ffff;
    font-size: 3em;
    font-weight: 500;
  }
 
  .inset {
    text-shadow: 1px 4px 6px grey, 0 0 0 #000, 1px 4px 6px grey
  }
  
  small.col {
    font-size:0.8em;
    color:#333;
  }

  p{
    text-align: center;
    margin-left: 20px;
    text-shadow: 1px 4px 6px grey, 0 0 0 black, 1px 4px 6px grey
  }
