<div class="container-fluid">
    <h1 class="h1-customized text-center inset">Password dimenticata</h1>
    <div class="container-fluid">
        <div class = "row mt-5">
            <div class = "col"></div>
            <div class = "col-4">
                <div class = "card shadow">
                    <div class = "card-body">
                        <form>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" name = "email" [(ngModel)] = "email">
                            </div>
                            <button type="submit" class="btn btn-primary" (click) = "forgotPassword()">Inviami il link</button>
                            <div class = "row">
                                <div class = "col-md-6">
                                    <a href = "./login" style = "text-decoration: none;">Torna a <span class = "text-danger">Login</span></a>
                                </div>
                                <div class = "col-md-6">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "col"></div>
        </div>
    </div>
</div>

