 .FrontPage{
    background: url(src/assets/FrontImage.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
} 
.testo{
  height: auto;
  width: auto;
  background-color: #0D6EFD;
  margin: 0px 50px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

h1.h1-customized {
  padding: 20px 0px;
  color:#fff;
  font-size: 3em;
  font-weight: 500;
}

.inset {
  text-shadow: 1px 4px 6px grey, 0 0 0 #000, 1px 4px 6px grey
}

small.col {
  font-size:0.8em;
  color:#333;
}

p{
  text-align: center;
  color: #fff;
}
.column{
    display: flex;
    background-color: #0D6EFD;
    margin: 50px 50px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.column img{
  float: left;
  width: auto;
}

