<div class ="FrontPage">
    <div class="home">
        <h1 class="h1-customized text-center inset">Benvenuto a Lo Varchetto</h1>
        <div class = "testo">
            <p>Qui puoi trovare le principali informazioni e news riguardanti il nostro ristorante</p>
            <p>Clicca su una delle opzioni presenti nella barra in alto per essere reindirizzato a ciò che desideri vedere</p>
        </div>
    </div>
    
    <div class="column">
            <img src= "assets/Home.jpg" >
            <p>MERAVIGLIOSI PIATTI & GRANDE INTRATTENIMENTO<br>
                Il luogo ideale per i tuoi aperitivi, pranzi e cene, eventi e cerimonie!<br>
                Il Ristorante sul Mare CHALET DUILIO si propone come un crocevia di sapori del Mare e del territorio Marchigiano. I prodotti così come i loro aromi e condimenti costituiscono gli elementi base della sua gastronomia, scandita in menù che seguono i cicli stagionali.<br>
                I Piatti nascono dall’incontro di sapori culinari diversi da gustare nel fascino e nella sobria eleganza dei suoi ambienti.</p>

    </div>
        

       
</div>

<!-- card shadow -->