<div class ="FrontPage">
    <div class="home">
        <h1 class="h1-customized text-center inset">Benvenuto a Lo Varchetto</h1>
        <div class = "testo">
            <p>Qui puoi trovare le principali informazioni e news riguardanti il nostro ristorante</p>
            <p>Clicca su una delle opzioni presenti nella barra in alto per essere reindirizzato a ciò che desideri vedere</p>
        </div>
    </div>

    <div class="column">
       
    </div>
    
    <div class="column">
        <div class = "testo"> 
        <p>MERAVIGLIOSI PIATTI & GRANDE INTRATTENIMENTO
            Il luogo ideale per i tuoi aperitivi, pranzi e cene, eventi e cerimonie! 
            Il Ristorante sul Mare CHALET DUILIO si propone come un crocevia di sapori del Mare e del territorio Marchigiano. I prodotti così come i loro aromi e condimenti costituiscono gli elementi base della sua gastronomia, scandita in menù che seguono i cicli stagionali.
            I Piatti nascono dall’incontro di sapori culinari diversi da gustare nel fascino e nella sobria eleganza dei suoi ambienti.
            La fantasia del nostro chef Fabio Iobbi non vi annoierà mai proponendo piatti sempre diversi e sfiziosi, saprà regalare ai propri clienti il gusto dei sapori della buona cucina a base di pesce dei nostri mari alla carne di prima scelta, il tutto impreziosito da un “tocco di classe”.
        </p>
    </div>
</div>
       
</div>

<!-- card shadow -->